In [1]:
from splink.duckdb.duckdb_linker import DuckDBLinker

## Read in data

In [2]:
import pandas as pd 
pd.options.display.max_rows = 1000
df = pd.read_csv("./data/fake_1000.csv")
df.head(5)

,unique_id,first_name,surname,dob,city,email,cluster
0,0,Robert,Alan,1971-06-24,NaN,robert255@smith.net,0
1,1,Robert,Allen,1971-05-24,NaN,roberta25@smith.net,0
2,2,Rob,Allen,1971-06-24,London,roberta25@smith.net,0
3,3,Robert,Alen,1971-06-24,Lonon,NaN,0
4,4,Grace,NaN,1997-04-26,Hull,grace.kelly52@jones.com,1

## Initialise the linker, passing in the input dataset(s)

In [3]:

linker = DuckDBLinker(df)

## Load estimated model parameters from previous notebook

In [4]:
linker.load_settings_from_json("./demo_settings/saved_model_from_demo.json")

##  Accuracy analysis

Since we have labels in this dataset, we can compute the accuracy of our trained model

In [12]:
df_labels = pd.read_csv("./data/fake_1000_labels.csv")
df_labels.head(5)

,unique_id_l,source_dataset_l,unique_id_r,source_dataset_r,clerical_match_score
0,0,fake_1000,1,fake_1000,1.0
1,0,fake_1000,2,fake_1000,1.0
2,0,fake_1000,3,fake_1000,1.0
3,0,fake_1000,4,fake_1000,0.0
4,0,fake_1000,5,fake_1000,0.0

Then to produce the chart:

In [15]:

linker._con.register("labels", df_labels)

In [16]:
linker.roc_chart_from_labels("labels")

RuntimeError: Catalog Error: Table with name __splink__df_concat_with_tf does not exist!
Did you mean "__splink__df_hist_90b2a97"?